<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.ico">
	<title>Estadisticas de pagos</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.css">
	<link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<div class="navbar-brand">
				<a href="https://pmz94.github.io">
					<img src="https://pmz94.github.io/pagpersonal/assets/img/navbar/benny.png" alt="Benny" title="Volver a la pagina principal" class="benny-logo">
				</a>
				&nbsp;
				<a href="https://developer.paypal.com/" target="_blank">
					<img src="../assets/img/paypal-logo.png" alt="PayPal" class="logo">
				</a>
			</div>
		</div>
	</nav>

	<section class="container text-center">
		<div class="UIpagos">
			<div class="box">
				<h2><b>Mejores Compradores</b></h2>
				<hr>
				<div class="table-responsive">
					<table id="stats" class="table table-striped table-bordered table-sm table-hover">
						<thead>
							<tr>
								<th>Comprador</th>
								<th>Ultimo pago</th>
								<th>Completos</th>
								<th>Pendientes</th>
								<th>Devueltos</th>
								<th>Total Pagos</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
				<hr>
				<div class="table-responsive">
					<table id="buyer" class="table table-striped table-bordered table-sm table-hover">
						<thead>
							<tr>
								<th>Comprador</th>
								<th>Pago min</th>
								<th>Pago max</th>
								<th>x&#x0304;</th>
								<th>&sigma;</th>
								<th>Total Gastado</th>
								<th>Total Devuelto</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
				<hr>
				<a href="pagos.html" class="btn btn-paypal-2">Ver Pagos</a>
				<a href="../index.html" class="btn btn-paypal-2">Regresar al inicio</a>
			</div>
		</div>
	</section>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.js"></script>
	<script src="../assets/js/script.js"></script>
	<script type="text/javascript">
		$(function() {

			$.ajax({
				url: '../actions/estadisticas.php',
				method: 'POST',
				dataType: 'json'
			}).done(function(data) {

				$.each(data.data, function(i, stat) {
					let row1 = '';
					row1 += '<tr>';
					row1 += `	<td>${stat.mejor_comprador}</td>`;
					row1 += `	<td>${stat.ultimo_pago}</td>`;
					row1 += `	<td>${stat.completos}</td>`;
					row1 += `	<td>${stat.pendientes}</td>`;
					row1 += `	<td>${stat.devueltos}</td>`;
					row1 += `	<td>${stat.total_pagos}</td>`;
					row1 += '</tr>';
					$('#stats tbody').append(row1);

					let row2 = '';
					row2 += '<tr>';
					row2 += `	<td>${stat.mejor_comprador}</td>`;
					row2 += `	<td>$${stat.pago_min}</td>`;
					row2 += `	<td>$${stat.pago_max}</td>`;
					row2 += `	<td>$${stat.gastos_prom}</td>`;
					row2 += `	<td>$${stat.desvest_gastos}</td>`;
					row2 += `	<td>$${stat.total_gastado}</td>`;
					row2 += `	<td>$${stat.total_devuelto}</td>`;
					row2 += '</tr>';
					$('#buyer tbody').append(row2);
				});

			}).fail(function(jqXHR) {
				$('#stats, #buyer').hide();
				console.log(jqXHR);
				showToast('Error al mostrar estadisticas', 'Hubo un error', 'error');
			});

		});
	</script>
</body>

</html>