<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.ico">
	<title>Pago realizado</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.css">
	<link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<div class="navbar-brand">
				<a href="https://pmz94.github.io">
					<img src="https://pmz94.github.io/pagpersonal/assets/img/navbar/benny.png" alt="Benny" title="Volver a la pagina principal" class="benny-logo">
				</a>
				&nbsp;
				<a href="https://developer.paypal.com/" target="_blank">
					<img src="../assets/img/paypal-logo.png" alt="PayPal" class="logo">
				</a>
			</div>
		</div>
	</nav>

	<section class="container text-center">
		<div class="row justify-content-center">
			<div class="col-6">
				<div class="UIpagos">
					<div class="box">
						<h1><b>Pago realizado</b></h1>
						<table id="recibo" class="table table-striped table-bordered table-sm">
							<thead>
								<tr>
									<th colspan="2">Recibo</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
						<hr>
						<a href="pagos.html" class="btn btn-paypal-2">Ver otros movimientos</a>
						<a href="../index.html" class="btn btn-paypal-2">Regresar al inicio</a>
					</div>
				</div>
			</div>
		</div>
		<!--<hr>-->
		<!--<h3>Archivo JSON</h3>-->
		<!--<pre id="json" class="pre-scrollable text-left"></pre>-->
	</section>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.js"></script>
	<script src="../assets/js/script.js"></script>
	<script type="text/javascript">
		$(function() {

			function getUrlParam(sParam) {
				let sPageURL = window.location.search.substring(1);
				let sURLVariables = sPageURL.split('&');

				for(let i = 0; i < sURLVariables.length; i++) {
					let sParamName = sURLVariables[i].split('=');

					if(sParamName[0] === sParam) {
						return sParamName[1] === undefined ? true : decodeURIComponent(sParamName[1]);
					}
				}
			}

			let token = getUrlParam('token');
			if(!token) $('section').empty().append('<h1>Acceso incorrecto</h1><br><a href="../index.html" class="btn btn-paypal-2">Regresar al inicio</a>');

			let string = getUrlParam('recibo');
			let json = JSON.parse(string);
			// console.log(json);
			// $('#json').text(JSON.stringify(json, null, '\t'));

			let row = '';
			$.each(json, function(i, val) {
				row += `<tr><th>${val.name}</th><td>${val.value}</td></tr>`
			});
			$('#recibo tbody').append(row);
		});
	</script>
</body>

</html>