<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.ico">
	<title>Productos</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap4.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
	<div id="navbar"></div>

	<section class="container text-center">
		<div class="UIpagos">
			<div class="box">
				<h1><b>Catalogo de productos</b></h1>
				<hr>
				<button id="btnNuevo" class="btn btn-paypal">Nuevo producto</button>
				<div class="table-responsive">
					<table id="tabla" class="table table-striped table-bordered table-sm table-hover">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Precio</th>
								<th>Opciones</th>
							</tr>
						</thead>
					</table>
				</div>
				<hr>
				<a href="pagos.html" class="btn btn-paypal">Pagos</a>
				<a href="estadisticas.html" class="btn btn-paypal">Estadisticas</a>
				<a href="../index.html" class="btn btn-paypal">Inicio</a>
			</div>
		</div>

		<!--Modal-->
		<div class="modal fade" id="modal-productos" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title"></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12 col-md-6 col-lg-6">
								<label for="nombre">Nombre</label>
								<input type="text" id="nombre" class="form-control" autocomplete="off">
							</div>
							<div class="col-sm-12 col-md-6 col-lg-6">
								<label for="precio">Precio</label>
								<input type="number" id="precio" class="form-control" min="0" autocomplete="off">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-paypal red" data-dismiss="modal">Cancelar</button>
						<button id="crear" class="btn btn-paypal">Crear</button>
					</div>
				</div>
			</div>
		</div>

	</section>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap4.js"></script>
	<script src="../assets/js/script.js"></script>
	<script type="text/javascript">
		$(function() {
			$('#navbar').load('../assets/layouts/navbar.html');

			$('#btnNuevo').on('click', () => {
				let $modal = $('#modal-productos').clone().removeAttr('id');
				$modal.find('.modal-title').html('Nuevo producto');
				modalEvents($modal);
				$modal.modal({
					backdrop: 'static',
					keyboard: false,
					focus: true,
					show: true
				});

				function modalEvents($modal) {
					$modal.find('.modal-footer #crear').on('click', function() {
						let nombre = $modal.find('.modal-body #nombre').val();
						let precio = $modal.find('.modal-body #precio').val();

						$.ajax({
							url: '../actions/productos.php',
							method: 'POST',
							dataType: 'json',
							data: {
								cmd: 'crear',
								nombre: nombre.trim(),
								precio: parseFloat(precio)
							}
						}).done(data => {
							showToast(data.data, 'Listo', 'success');
						}).fail(jqXHR => {
							console.log(jqXHR);
						}).always(() => {
							$modal.modal('hide');
							dataTable.ajax.reload();
						});
					});
				}
			});

			let dataTable = $('#tabla').DataTable({
				// destroy: true,
				autoWidth: true,
				searching: false,
				ordering: false,
				processing: true,
				pagingType: 'full',
				lengthChange: false,
				// lengthMenu: [[10, 15, 20], [10, 15, 20]],
				// serverSide: true,
				ajax: {
					url: '../actions/productos.php',
					type: 'POST',
					data: { cmd: 'ver' },
					error: (jqXHR, textStatus, errorThrown) => {
						console.log(jqXHR);
						showToast('Error al mostrar productos', 'Hubo un error', 'error');
					}
				},
				columns: [
					{ data: 'nombre' },
					{
						data: null,
						render: (data) => '$' + data.precio
					},
					{ data: null },
				],
				columnDefs: [
					{
						targets: [-1],
						data: null,
						render: (data, type, full) => {
							let container = $('<div></div>');

							let ver = $('<button class="btn btn-paypal btn-sm edit"><i class="fas fa-pen"></i></button>');
							if(ver) container.append(ver);

							let borrar = $('<button class="btn btn-paypal red btn-sm delete"><i class="fas fa-minus-circle"></i></button>');
							if(borrar) container.append(borrar);

							return $(container).html();
						}
					}
				],
				language: dt_idioma
			});

			$('#tabla tbody').on('click', '.delete', function() {
				let data = dataTable.row($(this).parents('tr')).data();
				let id_producto = parseInt(data.id);
				if(confirm('Seguro que quieres borrar este producto?')) {
					$.ajax({
						url: '../actions/productos.php',
						method: 'POST',
						dataType: 'json',
						data: {
							cmd: 'borrar',
							id_producto: id_producto
						}
					}).done(data => {
						showToast(data.data, 'Eliminado', 'success');
						dataTable.ajax.reload();
					}).fail(jqXHR => {
						console.log(jqXHR);
						showToast('Error al borrar el producto', '', 'error');
					});
				} else showToast('Que bueno!', 'Sigue manejando este producto');
			});
		});
	</script>
</body>

</html>