.benny-logo {
	height: 30px;
}

img.logo {
	height: 30px;
}

body {
	color: #1e2021;
	font-family: 'PayPal Sans Big', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.0625rem;
	font-weight: 300;
	line-height: 1.8;
}

@media (min-width: 1472px) {
	.container {
		max-width: 1344px;
	}
}

.navbar {
	box-shadow: 0 3px 15px -5px #555555;
}

.navbar-text {
	color: #1e2021;
}

.navbar-brand a:hover {
	text-decoration: none;
}

a.nav-link {
	color: white;
}

a.nav-link:hover {
	background-color: #003087;
}

table > tbody {
	font-size: 0.85rem;
}

/* 637px */
@media only screen and (max-height: 1024px) {
	.UI {
		padding-top: 10%;
	}

	.UIpagos {
		padding: 2% 0 2% 0;
	}
}

/* 949px */
@media only screen and (min-height: 840px) {
	.UI {
		padding-top: 30%;
	}

	.UIpagos {
		padding: 5% 0 0 0;
	}
}

.box {
	background: whitesmoke;
	border-radius: 10px;
	box-shadow: 0 5px 20px -5px #555555;
	padding: 30px;
	min-width: 380px;
}

@media only screen and (max-width: 400px) {
	.box {
		padding: 15px;
		min-width: 345px;
	}
}

.form-control {
	display: block;
	height: 44px;
	width: 100%;
	padding: 0 10px;
	border: 1px solid #9da3a6;
	background: #fff;
	color: #000000;
	font-size: 1em;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.5;
	background-clip: padding-box;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
	color: #000000;
	background-color: #ffffff;
	box-shadow: none;
	border: 1px solid #0070ba;
	border-image: initial;
	outline: 0;
}

.input-group-text {
	/*background: #0070ba;*/
	/*color: #ffffff;*/
	border: 1px solid #9da3a6;
}

pre {
	background: whitesmoke;
	max-height: 440px !important;
	font-size: 75%;
}

.btn {
	border-radius: 1.5rem;
}

.btn.btn-paypal {
	color: #ffffff;
	background-color: #0070ba;
	border-color: transparent;
	font-family: 'PayPal Sans Small', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: .8125rem;
	border-radius: 1.5rem;
	line-height: 1.38461538;
	min-width: 4rem;
	padding: .5625rem 1.125rem;
	box-shadow: none;
}

.btn.btn-paypal:disabled {
	transition: none;
	background-color: #7cc6de;
}

.btn-paypal:hover {
	color: #ffffff;
	background-color: #003087;
}

.btn-paypal:focus {
	color: #ffffff;
	background-color: #003087;
	text-decoration: underline;
	box-shadow: none;
}

.btn.btn-paypal.red {
	background-color: #ba0000;
}

.btn-paypal.red:hover {
	background-color: #710000;
}

.btn-paypal.btn-sm, .btn-paypal.red.btn-sm, .btn-group-sm > .btn {
	padding: 0.25rem 0.5rem;
	font-size: 0.7672rem;
	line-height: 1.2;
	border-radius: 1.5rem;
}

table.table {
	background-color: #ffffff;
}

.page-link:focus {
	box-shadow: none;
	color: #003087;
}